.phoneButton{
    position: absolute;
    horiz-align: center;
    width: 96%;
    left: 2%;
    font-size: large;
    text-decoration: none;
}
.phoneIcon{
    position: absolute;
    font-size: x-large;
    left:10px;
    top:3px;
}