.display1 {
    margin: 0;
    padding: 0;
    max-height: 40%;
    max-width: 100%;
    width:100%;
    height:auto;
    border: transparent;
    position: relative;

}

.hallIMG {
    positon: absolute;
    max-height: 20%;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-bottom: groove;
    border-top: groove;
    border-width: 1px;
}

.header{
    z-index: 1000;
    position: absolute;
    bottom: 15px;
    left: 10px;
    color:white;
    font-weight: bold;
    font-size: large;
}

