img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width:100%;
    height:auto;
}

.coverIcon{
    position:absolute;
    left:2%;
    top:83%;
}
.custom-icon{
    color:white;
}


.homeFrame{
    padding-top: 45px;
    overflow: auto;
}

.card{
    min-height:100%;
    border: groove;
    margin-bottom: 50px;
}

.cardTop{
    position: relative;
    height: 68px;
}

.cardTitle{
    font-size: 2.6vh;
    font-weight: bold;

}


.avatar {
    position: absolute;
    top: 5px;
    left: 12px;
    max-width: 55px;
    max-height: 60px;
}

.item-image{
    height: 100%;
    padding: 2px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: groove;
}
.custom-locationIcon{
    color : #78a8ff;
}

.cardCalendar{
    position: absolute;
    top: 0%;
    left: 3%;
    font-size: 25px !important;
    overflow: hidden;
}

.cardDay {
    font-size: 25px;
    position: absolute;
    top: 2%;
    left: 10%;
}
.reduceDiv{
    border: transparent;
    background: transparent;
    margin-bottom: -23%;
    margin-top: -4%;
    z-index: -1000;
}
.paddingLeft{
    padding-left: 7px;
}
.paddingLeft2{
    padding-left: 1vw;
}

.venueTop{
    color: #963620;
    font-size: 13px;
    text-decoration:none;
    display : block;
    padding-top: 1px;
    padding-bottom: 8px;
    padding-right: 2px;

}

.venueTopRight{
    position: absolute;
    top: 45px;
    right: 10px;
    font-size: 13px;

}
.venueBottom{
    font-size: 13px;
    text-decoration:none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 4px;
}

.invisible{
    color: transparent;
}

.moreButton{
    display : block;
    padding:3px;
    padding-right: 80%;
}
.facebookIcon{
    position: absolute;
    top: 15px;
    left: 15px;
}