.imgCover{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width:100%;
    height:35vw;
}

.imgAvatar{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width:100%;
    height:15vw;
}

.coverIcon{
    position:absolute;
}
.custom-icon{
    color:white;
}


.homeFrame{
    padding-top: 11vw;
    overflow: auto;
}

.card{
    min-height:100%;
    border: groove;
    margin-bottom: 12vw;
}

.cardTop{
    position: relative;
    height: 18vw;
}

.cardTitle{
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    top:2vw;
    left:23vw;
}


.avatar {
    position: absolute;
    top: 1vw;
    left: 3vw;
    max-width: 16vw;
    max-height: 19vw;
}

.item-image{
    height: 100%;
    padding: 1px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: groove;
}
.custom-locationIcon{
    color : #78a8ff;
}

.cardCalendar{
    position: absolute;
    top: -0.5vw;
    left: 4vw;
    font-size: 7vw !important;
    overflow: hidden;
}

.cardDay {
    font-size: 7vw;
    position: absolute;
    top: 0.5vw;
    left: 11vw;
}
.reduceDiv{
    border: transparent;
    background: transparent;
    margin-bottom: -21vw;
    margin-top: -4vw;
    z-index: -1000;

}
.paddingLeft{
    padding-left: 1vw;
}
.paddingLeft2{
    padding-left: 1vw;
}

.venueTop{
    color: #963620;
    font-size: 3.5vw;
    text-decoration: underline;
    display : block;
    position: absolute;
    top:7vw;
    left:23vw;


}

.venueTopRight{
    position: absolute;
    top: 12vw;
    right: 2vw;
    font-size: 3.5vw;

}

.invisible{
    color: transparent;
}


.facebookIcon{
    position: absolute;
    top: 3vw;
    left: 3vw;
}