.menuLogo{
    position: absolute;
    margin-left: 2%;
    margin-top: 1%;
    max-width: 30px;
    max-height: 30px;
}

.title{
    position: absolute;
    text-align: center;
    align-title: center;
    font-weight: bold;
}
