/* Empty. Add your own CSS if you like */

.background{
    /*background: white;*/
    background: rgb(245, 245, 245);
}

.link {
    color: #0000EE;
    text-decoration: underline;
}

.invisible{
    color: transparent;
}


.gap {
    margin-top: -20px;
}

.navBar{
    background: #3b5998;
    /*border-bottom: thick;*/
    /*border-color: black;*/
}



