/* Empty. Add your own CSS if you like */

.background{
    /*background: white;*/
    background: #eefff6;
}

.link {
    color: #0000EE;
    text-decoration: underline;
}

.invisible{
    color: transparent;
}


.gap {
    margin-top: -20px;
}



