

.modal {
    text-align: center;
    padding: 15%;
    z-index: 1050;
    padding-top: 30%;
    padding-bottom: 20%;
    background-color: rgba(235, 227, 250, 0.5);
}

/*.modal:before {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*horiz-align: center;*/
    /*content: " ";*/
    /*height: 100%;*/
/*}*/

/*.modal-dialog {*/
    /*display: inline-block;*/
    /*text-align: left;*/
    /*vertical-align: middle;*/
    /*horiz-align: center;*/
/*}*/

/*.center-modal {*/
    /*position: absolute;*/
    /*padding: 15%;*/
    /*padding-top: 60px;*/
    /*padding-bottom: 30%*/
    /*z-index: 1050;*/
    /*max-width: 100%;*/
    /*height: 80%;*/
    /*/!*background: transparent;*!/*/
    /*background-color: rgba(235, 227, 250, 0.5);*/
/*}*/

#header {
    background-color: #000000;
    color:white;
    text-align:center;
    padding:7px;
    font-size: 150%;
    /*border-bottom: groove;*/


}

#section {
    float:left;
    padding:10px;
    background:#a91f1d;
}

.border {
    border: dotted;
    border-color: black;
    overflow:auto;
}

.section{
    font-size: 110%;
}

