<html>

<head>
    <link href="css/contactUs.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<ion-view view-title="Contact Us" class = "background">
  <ion-nav-buttons side="left">
    <a class="button button-icon ion-navicon" menu-toggle="left"></a>
  </ion-nav-buttons>

  <ion-content>
    <div class = "body" ng-controller="phoneCtrl">

        <button class="button button-positive phoneButton link" ng-click = 'showConfirm("07717701058","Senior resident - Unite House")'>
            <i class="ion-ios-telephone phoneIcon"></i>
            Senior resident (Unite House)
        </button>

        <br/><br/>
        <br/><br/>

        <button class="button button-positive phoneButton link" ng-click = 'showConfirm("07815700570","Senior resident - Colston Street")'>
            <i class="ion-ios-telephone phoneIcon"></i>
            Senior resident (Colston Street)
        </button>

        <br/><br/>
        <br/><br/>

        <button class="button button-positive phoneButton link" ng-click = 'showConfirm("0117 928 7848","University Security")'>
        <i class="ion-ios-telephone phoneIcon"></i>
            University Security
        </button>

        <br/><br/>
        <br/><br/>

        <button class="button button-calm button-positive phoneButton link" ng-controller="HomeCtrl" ng-click = "changeLinkImages('https://www.bristol.ac.uk/securityservices/','contact')">
        <i class="ion-earth phoneIcon"></i>
            Security Services
            <!-- FIX "Open Facebook?-->
        </button>

        <br/><br/>
        <br/><br/>

        <button class="button button-calm button-positive phoneButton link" ng-controller="HomeCtrl" ng-click = "changeLinkImages('https://www.bristol.ac.uk/','contact')">
        <i class="ion-earth phoneIcon"></i>
            University Website
        </button>

        <br/><br/>
        <br/><br/>

        <!--<button class="button button-positive phoneButton link" ng-controller="HomeCtrl" ng-click = "changeLinkImages('https://www.bristol.ac.uk/securityservices/','contact')">-->
        <!--<i class="ion-earth phoneIcon"></i>-->
            <!--Application Feedback-->
            <!-- -->
        <!--</button>-->

      </div>
    </ion-content>
  </ion-view>
</body>
</html>


