<html>

<head>
    <link href="css/hallsOfResidence.css" type="text/css" rel="stylesheet"/>
</head>

<body>

<ion-view view-title="Halls of Residence" class = "background gap">
    <ion-nav-buttons side="left">
        <a class="button button-icon ion-navicon" menu-toggle="left"></a>
    </ion-nav-buttons>

    <ion-content ng-controller="HallCtrl">
        <ion-list ng-repeat = "hall in halls" >
            <ion-item class = "display1" ng-click="openLink(hall.hallURL)">

                <img class = "hallIMG" src={{hall.imgURL}}>
                <div class = "header">{{hall.name}}</div>

            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
</body>
</html>