<html>

<head>
    <link href="css/home.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<ion-view view-title="Home" class = "gap background">
    <ion-nav-buttons side="left">
        <a class="button button-icon ion-navicon" menu-toggle="left"></a>
    </ion-nav-buttons>

    <ion-content class = "homeFrame">


        <ion-list ng-controller="HomeCtrl as settings" ng-repeat-start="day in days" href="#/app/home/{{}}">
            <div class="background reduceDiv item item-thumbnail-left" href="#">
                <i class="icon ion-ios-calendar-outline cardCalendar"></i>
                <div class="cardDay">{{day.day}}</div>
            </div>
            <ion-slide-box>
            <ion-slide ng-controller="HomeCtrl as settings" ng-repeat="card in day.events" href="#/app/home/{{}}">



                <div class="card">

                    <!-- Top-->
                    <div class="cardTop">
                        <div class="item item-thumbnail-left" href="#">
                            <a id = "avatar" ng-click="changeLinkImages(card.avatarURL, 'avatar')"><span class="avatar"><img src={{card.avatarImg}}></span></a>
                            <span class="cardTitle">{{card.title}}</span>
                            <br/>
                            <a class="venueTop" id = "maps" ng-click="changeLinkMaps(card.location)" >
                                <i class="icon ion-ios-location custom-locationIcon"></i><span class = "paddingLeft">{{card.venue}}</span>
                            </a>
                            <a class="venueTopRight" id = "time">
                                <i class="icon ion-clock"></i><span class = "paddingLeft2">{{card.time}}</span>
                            </a>
                        </div>
                    </div>
                    <!-- Middle-->
                    <div class="item item-image coverDiv">
                        <a id = "cover" ng-href="" ng-click = "changeLinkImages(card.coverURL, 'cover')"><span class="cardBottomImage"><img src={{card.coverImg}}></span></a>
                        <i class="icon custom-icon coverIcon ion-social-facebook"></i>
                    </div>
                    <!--dropdown list-->
                    <button class="button button-clear button-positive button-small moreButton" ng-click="isCollapsed = !isCollapsed">
                        <i class="icon custom-locationIcon" ng-class="isCollapsed ? 'ion-plus' : 'ion-minus'"></i>
                        More
                    </button>
                    <div collapse="isCollapsed">
                        <div>
                            <div class="item item-icon-left assertive" ng-click = "calendarEvent()">
                                <i class="icon ion-calendar"></i>
                                {{card.date}}
                            </div>
                            <a class = "venueBottom" id = "maps2" ng-click="changeLinkMaps(card.location)" >
                                <div class="item item-icon-left assertive">
                                    <i class="icon ion-ios-location"></i>
                                    {{card.location}}
                                </div>
                            </a>

                        </div>
                    </div>
                </div>


            </ion-slide>
            </ion-slide-box>
        </ion-list>

        <div  ng-repeat-end class = "invisible">hello<br/></div>

    </ion-content>
</ion-view>
</body>
</html>